<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page</title>
    {% load static %}
</head>

<style>
    header {
        max-width: 100%;
        height: 40px;
        background-color: rgb(234,278, 236);
    }
    ul {
        list-style: none;
        justify-items: center;
    }
    ul li {
        flex-direction:row-reverse;
    }
</style>
<body>
    <header>

    </header>
    <nav>
        <ul>
            <li>login</li>
            <li>sign up</li>
            <li>about us</li>
            <li>contacts</li>
        </ul>
    </nav>

    <footer>
        <div>
            <ul>
                <li>About us</li>
                <li>Home</li>
                <li>contant us</li>
            </ul>
        </div>
    </footer>
</body>
</html>